# Skip APIs and use mock data
USE_MOCK_REPOS=false

# Clickhouse query settings
SCAN_LIMIT=100
SCAN_WINDOW_DAYS=7
#SCAN_EVAL_DATE=(YYYY-MM-DD)
SCAN_MIN_GROWTH_RATE=3.0

# Release settings
RELEASE_TRUNCATE_DESC=0
RELEASE_EMPTY_DESC=true
RELEASE_MIN_STARS=50
RELEASE_TOP_N=20

# Filtering settings
FILTER_ALLOW_RENAMED=true

# Publish newsletter with Buttondown
BUTTONDOWN_ENABLED=false
BUTTONDOWN_API_KEY=your_buttondown_key_here

# Publish newsletter with Resend
RESEND_ENABLED=false
RESEND_DRAFT=false
RESEND_API_KEY=your_resend_key_here
RESEND_FROM="GitHub Trends <newsletter@your-domain.com>"
#RESEND_REPLY_TO="GitHub Trends <newsletter+unsubscribe@your-domain.com>"
RESEND_AUDIENCE_ID=your_resend_audience_id_here

# Publish to GitHub release
GITHUB_RELEASES_ENABLED=false
GITHUB_RELEASES_REPO=your_gh_username/your_repo_name
GITHUB_TOKEN=your_gh_token_here
